.kartica {
  width: 300px;
  min-height: 600px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
}
.header {
  background-color: rgb(206, 255, 255);
  font-size: 1.3rem;
}
#prvi {
  height: 10px;
  background-color: rgb(250, 236, 211);
}
.slika {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
#opis {
  font-size: large;
}
hr {
  width: 113%;
  margin-left: -17;
}
.pretraga {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3rem;
}
#gradLabela {
  font-size: x-large;
}

#podaci {
  font-size: 1.2rem;
}
