@font-face {
  font-family: "epilog";
  src: url(Epilogue-Light.ttf);
}
@font-face {
  font-family: "inter";
  src: url(Inter-Light.ttf);
}
:root {
  --pozadina: #4b5a83;
  --tekst: aliceblue;
}
body {
  font-family: "epilog";
}
.kartica {
  width: 350px;
  min-height: 500px;
  height: 544px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
  border-radius: 11px;
  border: black solid 1px;
}
.kartica hr {
  color: black;
  width: auto;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 1px;
  opacity: 100%;
}
.header {
  background-color: var(--pozadina);
  font-size: 1.5rem;
  color: var(--tekst);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 1px black;
  padding: 15px 0 5px 0;
}
.prvi {
  background-color: var(--pozadina);
  color: var(--tekst);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.slika {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
#opis {
  font-size: large;
}
hr {
  width: 112%;
  margin-left: -17;
}
.pretraga {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--pozadina);
  color: var(--tekst);
}
#gradLabela {
  font-size: x-large;
}

.podaci {
  font-size: 1.1rem;
}
.pretragaBtn {
  border-radius: 3px;
  border: var(--tekst) 1px solid;
  height: 30px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: var(--pozadina);
  color: var(--tekst);
}
.gradLabela {
  height: 35px;
}
