@font-face {
  font-family: "epilogue";
  src: url(Epilogue-Light.ttf);
}
body {
  font-family: "epilogue";
}
.kartica {
  width: 350px;
  min-height: 500px;
  height: 544px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
  border-radius: 11px;
  border: black solid 1px;
}
.kartica hr {
  color: black;
  width: auto;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 1px;
  opacity: 100%;
}
.header {
  background-color: #4b5a83;
  font-size: 1.5rem;
  color: aliceblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 1px black;
  padding: 15px 0 5px 0;
}
.prvi {
  background-color: #4b5a83;
  color: aliceblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.slika {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
#opis {
  font-size: large;
}
hr {
  width: 112%;
  margin-left: -17;
}
.pretraga {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3rem;
}
#gradLabela {
  font-size: x-large;
}

.podaci {
  font-size: 1.1rem;
}
